body{
   
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.links{
    display: flex;
    justify-content: center;
    
    
}

.voter{
    margin-left: 40px;
    border: 5px solid cyan;
    border-radius: 10px;
}

.admin{
    border: 5px solid cyan;
    border-radius: 10px;
}

h1{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: lightcyan;
}